
<div class="row"> 
    <h1>{{heroe.nombre}}</h1>
    <div class="card">
        <div class="row">
            <div class="col-6">
                <img height="400px" src="{{heroe.img}}" class="card-img-top" alt="...">
            </div>
            <div class="col-6">
                <div class="card-body">                     
                    {{heroe.nombre}}                     
                    <p class="card-text">{{heroe.bio}}</p>
                    <p>Primera aparición : {{heroe.aparicion}}</p>     
                  </div>
            </div>
        </div>      
        
    </div>
</div>

